.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

.env
.env.*
!.env.example

android/key.properties
android/app/keystore/
*.jks
*.keystore

linux/
macos/
windows/

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

.DS_Store
*.log
